.slider {

    &__body {
        background-image: url(media/DSC6954.jpg);
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
    }

    &__overlay {
        width: 100%;
        height: 25%;
        background: rgba(black, .5);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 130px;
        margin: auto 0;

        &-prev {
            a {
                @include white-arrow-horizontal(right, 0, 0, 8px solid white);
                text-decoration:none;
                border: 1px solid white;
                border-radius: 50%;
                display: block;
                height: 80px;
                width: 80px;
            }
        }

        &-next {
            a {
                @include white-arrow-horizontal(left, 12px, 8px solid white, 0);
                text-decoration:none;
                border: 1px solid white;
                border-radius: 50%;
                display: block;
                height: 80px;
                width: 80px;
            }
        }

        &-text {
            width: 50%;

            h1 {
                @extend .text-gradient-color;
                font-size: 56px;
            }

            p {
                font-size: 22px;
                padding-left: 120px;
            }
        }
    }

    &__scroll {
        position: absolute;
        bottom: 0;
        padding: 0 0 62px 230px;

        &-text {
            font-size: 24px;
            line-height: 2.25;
        }

        &-arrow {
            @include white-arrow-vertical;
        }
    }

    &__circles {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 130px 130px;

        &-circle {
            width: 15px;
            height: 15px;
            border: 2px solid white;
            border-radius: 50%;
            display: inline-block;

            .active {
                background-color: white;
            }
        }
    }
}